body{
  background-color:#fdf6e6;
}

p{
  font-family:Noto Sans, Sans-Serif;
  font-size:18px;
  line-height:25px;
}

.Webpage-Intro{
  margin-top:1px;
  margin-bottom:1px;
  margin-right:1px;
  margin-left:1px;
}

.Contents{
  margin-bottom:8px;
}

.Third-Content{
  margin-left:20px;
}

.Fourth-Content{
  margin-left:50px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.ancient-china{
  font-weight:700;
  font-size:55px;
  font-family:League Spartan, Sans-Serif;
}

.gender-issues{
  font-size:30px;
  font-family:Montserrat, Sans-serif;
}


/* Top left text */
.top-left {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.default{
  font-size:14px;
  width:1000px;
  font-family:Arimo, Sans-serif;
  color:#4f3b15;
}

.border{
  background-color:#d0b482;
  width:280px;
  height:50px;
  
  border-width:2px;
  border-style:solid;
  border-color:#d0b482;
  
  border-top-right-radius:50px;
  border-bottom-right-radius:50px;
}

.heading1{
  text-align:center;
  color:white;
  font-family:Montserrat, Sans-Serif;
  font-size:25px;
  font-weight:bold;
  margin-top:13px;
}

.heading2{
  text-align:center;
  color:white;
  font-family:Montserrat, Sans-Serif;
  font-size:15px;
  font-weight:bold;
  margin-top:13px;
}

.heading3{
  text-align:center;
  color:white;
  font-family:Montserrat, Sans-Serif;
  font-size:23px;
  font-weight:bold;
  margin-top:13px;
}

